body {
  background: var(--neutral-950-bg-txt, #efeff2);
}

select {
  display: flex;
  padding: 7px 16px 9px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: none;
  background: var(--other-white-950, #f8f8f8);
  color: var(--neutral-50-txt-important, #24222a);
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Marvel", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.SortContainer {
  margin-left: 60px;
}

@media (max-width: 768px) {
}
